{block styles}
    <style>
        input[type=submit] {
            width: 100%;
        }
    </style>
{/block}

{block content}

<form method="post" action="{link addContact}">
    <table>
        <tr>
            <th>Jméno a příjmení</th>
            <td>
                <input type="text" name="fullname">
            </td>
        </tr>
        <tr>
            <th>Telefonní číslo</th>
            <td>
                <input type="text" name="phone-number">
            </td>
        </tr>
        <tr>
            <th>Počet provolaných minut</th>
            <td>
                <input type="text" name="call-duration">
            </td>
        </tr>
        <tr>
            <th>Souhlasí s nabídkou</th>
            <td>
                <label>
                    <input type="checkbox" name="agree">
                    Ano
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Uložit">
            </td>
        </tr>
    </table>
</form>